*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-size: 14px;
    line-height: 170%;
    color: var(--fontcolor);
    font-family: 'Microsoft YaHei',sans-serif;
}

nav{
    width: 100%;
    backdrop-filter: blur(15px);
    /* background-color: rgb(255, 255, 255); */
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
    padding: 0px 100px;
    margin: 0;
}
nav li{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 2px;
}
nav ul li a:hover{
    color: #f36420;
    border-bottom: 2px solid #f36420;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    box-shadow: 5px 5px 15px black;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    backdrop-filter: blur(15px);
    display: none;
    background-color: white;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menubtn{
    display: none;
}


/* ======================================== */




/* =============== */







@media screen and (max-width: 800px) {
    .menubtn{
        display: flex;
    }
    .hidenav{
        display: none;
    }
    nav li:first-child{
        margin-right: auto;
        margin-left: -60px;
    }
    nav li{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-right: -80px;
    }
    .cross{
        margin-left: 0px !important;
    }
    .sidebar{
        position: relative;
    }
  }
/* =========================================================== */



/* ========================================================= */


.prevBtn{
    margin-right: 130px;
}
.nextBtn{
    margin-left: 130px;
}




/* ============================================================== */

.product-box{
    width: 100%;
    height: auto;
}
.product-box h3{
    padding: 2.0625rem 0;
    position: relative;
    text-align: center;
    height: 100px;
}
.product-box h3::before {
    width: 100%;
    height: 1px;
    z-index: 5;
    background: #cfcfcf;
    top: 50%;
}
.product-box h3 span{
    display: inline-block;
    background: #FFF;
    position: relative;
    z-index: 10;
    padding: 0px 1.9375rem;
    font-size: 2.25rem;
    color: #232323;
}
.product-box h3 span::after {
    width: 1.875rem;
    height: 3px;
    z-index: 5;
    background: #f36420;
    bottom: -0.9375rem;
    left: 50%;
    margin-left: -0.9375rem;
}
.product-box h3 span::after, .product-box h3::before {
    content: "";
    display: block;
    position: absolute;
}



/* =============================================== */


.product-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.product-list li:nth-child(1){
    width: 36.5%;
    padding-bottom: 40.6%;
}
.product-list li{
    position: relative;
    overflow: hidden;
    float: left;
}
.product-list li a{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #333333;
    text-decoration: none;
}
.product-list li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px;
    vertical-align: middle;
}
.product-list li p{
    z-index: 10;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(12,12,12,.75);
    color: #FFF;
    font-size: 1.25rem;
    left: 0px;
    display: flex;
    align-items: center;
    padding: 1.5rem 0.5rem;
    justify-content: center;
    margin: 0;
}
.product-list i {
    height: 1.875rem;
    width: 1.875rem;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.625rem;
    flex: 0 0 auto;
}
.fa-angle-right:before {
    content: "\f105";
}
.product-list li:nth-child(2) {
    width: 35.5%;
    padding-bottom: 20.3%;
}
.product-list li a::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 5;
}
.product-list li:nth-child(3) {
    width: 28%;
    padding-bottom: 20.3%;
}

.product-list li:nth-child(4) {
    width: 28%;
    padding-bottom: 20.3%;
}
.product-list li:nth-child(5) {
    width: 35.5%;
    padding-bottom: 20.3%;
}



/* ======================================================================== */


.cp-box {
    clear: both;
}
.profiles {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 0;
    margin: 0;
}
.profiles li {
    width: 100%;
    position: relative;
    list-style: none;
}
.profiles .profiles-item-back {
    width: 100%;
    border: 0px;
    vertical-align: middle;
}
.profiles .profiles-item-text {
    position: absolute;
    color: #FFF;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profiles .why-text {
    font-size: 3rem;
    line-height: 1.3;
}
.profiles .more-link {
    color: #FFF;
    font-size: 1.125rem;
    margin-top: 3.75rem;
    text-decoration: none;
}
.profiles .more-link i {
    margin-left: 5px;
}
.fa-angle-right:before {
    content: "\f105";
}

.profiles .profiles-item-text img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}
.profiles .num {
    font-size: 1.875rem;
}
.profiles .text {
    font-size: 2.5rem;
    margin-top: 2.1875rem;
    line-height: 1.3;
    text-align: center;
}

/* ======================================================================== */

.news-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.news-list li {
    width: 32%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.news-list .news-pic {
    width: 100%;
    border: 0px;
    vertical-align: middle;
}
.news-list .news-date {
    position: absolute;
    top: 1.25rem;
    left: 1.0625rem;
    line-height: 2.3125rem;
    color: #FFF;
    background: #f36420;
    padding: 0px 1rem;
}
.news-list .news-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 3.75rem;
    padding: 0px 1.6875rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3125rem;
    color: #FFF;
    background: rgba(0,0,0,.6);
    margin: 0;
}

/* ======================================================================== */

.product-slider{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 50px 0px;
    overflow: hidden;
}
.product-slider li{
    list-style: none;
    width: 20%;
    position: relative;
    margin-left: 20px;
}
.product-slider li img{
    width: 250px;
    height: 250px;
    padding: 25px;
}
.product-slider li p{
    background-color: #f36420;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;  
}
.product-slider li a{
    text-decoration: none;
}

.product-slider li a::before {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.product-slider li a::after {
    bottom: 0px;
    left: 50%;
    content: "";
    display: block;
    border: 0.8125rem solid #f36420;
    border-bottom-color: #f36420;
    margin-left: -0.8125rem;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.lfrtbtn{
    position: relative;
}

.lfrtbtn button {
    position: absolute;
    z-index: 10;
    background: #f36420;
    color: #FFF;
    width: 40px;
    height: 40px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    top: 30%;
    outline: 0;
    border: 0;
}
.lfrtbtn button.nextbtn {
    right: 0px;
    left: unset;
}
.container-fluid.p-0.lfrtbtn {
    margin: 60px 0;
}



/* =================================================== */

.footer{
    background-color: #333333;
    margin: 0;
}
.footer ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    margin: 0;
}
.footer ul li{
    display: block;
    color: white;
    width: 33.33%;
    padding: 0 50px;
}
.footer ul li .footertitle{
    border-bottom: 1px solid #413f3f;
}
.footer ul li .footertitle h5{
    font-weight: bold;
    border-left: 5px solid #f36420;
    color: white;
    padding: 0 10px;
}
.footer ul li .socialLogo{
    padding: 40px 0;
}
.footer ul li .socialLogo li{
    width: 45px;
    padding: 10px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul li .socialLogo li a{
    text-align: center;
}
.footer ul li .socialLogo li a i{
    color: white;
}

.footer ul li p{
    line-height: 1.5;
}
.footer ul li .fnav{
    display: block;
    padding: 0;
}
.footer ul li .fnav li{
    padding: 0;
}
.footer ul li .fnav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    line-height: 1.9;
}
.footer ul li .fnav li a:hover{
    color: #f36420;
}






.footer .footersmall{
    height: 50px;
    padding: 10px;
    width: 100%;
    background-color: #242424;
    margin: 0;
}
.footer .footersmall li{
    width: 100%;

}


@media screen and (max-width: 600px) {
    


    .sliderimg{
        height: 200px !important;
    }


    .cate-list li:nth-child(1) {
        width: 100%;
        height: 200px;
    }
    .cate-list li:nth-child(2) {
        width: 100%;
        height: 200px;
    }
    .cate-list li:nth-child(3) {
        width: 100%;
        height: 200px;
    }
    .cate-list li:nth-child(4) {
        width: 100%;
        height: 200px;
    }
    .cate-list li:nth-child(5) {
        width: 100%;
        height: 200px;
    }



    .profiles {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .profiles .why-text {
        font-size: 2rem;
        line-height: 1.2;
    }


    .profiles .text {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .profiles .profiles-item-text img{
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 10px 0px;
    }


    .product-slider li img {
        width: 150px;
        height: 150px;
        padding: 25px

    }
    .product-slider li p{
        padding: 6px;
        width: 100px;
    }
    




    .footer ul {
        display: block;
        list-style: none;
        width: 100%;
        justify-content: space-between;
        padding: 50px;
        margin: 0;
    }
    .footer ul li {
        display: block;
        color: white;
        width: 100%;
        padding: 30px 10px;
    }

    .footer ul li .socialLogo {
        padding: 40px 0;
        display: flex;
    }
    .footer .footersmall{
        height: 60px;
    }
    .footer .footersmall li{
        margin: 0;
        padding: 5px;
    }
    .footer .footersmall p{
        color: white;
        padding: 0;
        margin: 0;
    }
    
}


